
<configuration>

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>frg*i18n*server - %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

   <logger name="io.netty.buffer.PooledByteBufAllocator" level="WARN"/>
   <logger name="com.fragnostic.i18n.service.i18n" level="WARN"/>
   <logger name="com.fragnostic.i18n.server.FragnosticI18nServerOld" level="WARN"/>

   <root level="WARN">
      <appender-ref ref="STDOUT" />
   </root>

</configuration>

